<div class="p-1">
    <form (ngSubmit)="Save()">
<ng-container *ngIf="attendanceListe.length > 0">
    <table mat-table [dataSource]="attendanceListe" class="mat-elevation-z8">
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef>Jour</th>
        <td mat-cell *matCellDef="let attendance">Lundi</td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let attendance">{{ attendance.date | date:'yyyy/MM/dd'  }}</td>
      </ng-container>
  
      <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef>État</th>
        <td mat-cell *matCellDef="let attendance">{{ attendance.etat }}</td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <!-- <td mat-cell *matCellDef="let attendance">{{ attendance.status }}</td> -->
        <td mat-cell *matCellDef="let attendance" >
            <mat-select [(ngModel)]="attendance.selectedStatus" (selectionChange)="onStatusChange($event.value,attendance)">
                <mat-option *ngFor="let option of attendanceListeEnum" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="[  '_id','date', 'etat', 'status']"></tr>
      <tr mat-row *matRowDef="let row; columns: [  '_id', 'date', 'etat', 'status']"></tr>
    </table>
  </ng-container>
  <button class="btn-space" mat-raised-button color="primary" type="submit" (click)="Save()">Submit</button>
   </form>
</div>