.job-view-section {
    padding: 10px;
    border: 1px solid #8872c7;
    border-radius: 10px;
    margin-bottom: 10px;
    /* Autres styles selon vos besoins */
}
.white-background {
    background-color: #ffffff; /* Couleur blanche */
  }
  